<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <service interface="cn.com.rexen.workflow.api.biz.IWorkflowService" ref="workFlowServiceImpl">
    </service>

    <bean id="workFlowServiceImpl" class="cn.com.rexen.workflow.core.impl.WorkflowServiceImpl">
    </bean>

    <service interface="cn.com.rexen.workflow.api.biz.IProcessService" ref="processServiceImpl">
    </service>
    <reference interface="org.activiti.engine.RepositoryService" id="repositoryService"/>
    <bean class="cn.com.rexen.workflow.core.impl.ProcessServiceImpl" id="processServiceImpl">
        <property name="repositoryService" ref="repositoryService"/>
    </bean>

    <!--监听IBizDataHandler模块的加载和卸载-->
    <reference-list interface="cn.com.rexen.workflow.api.web.IBizDataHandler" member-type="service-reference"
                    availability="optional">
        <reference-listener bind-method="bind" unbind-method="unbind">
            <bean class="cn.com.rexen.workflow.core.listener.BizDataListener"/>
        </reference-listener>
    </reference-list>

    <!--监听IFormHandler模块的加载和卸载-->
    <reference-list interface="cn.com.rexen.workflow.api.web.IFormHandler" member-type="service-reference"
                    availability="optional">
        <reference-listener bind-method="bind" unbind-method="unbind">
            <bean class="cn.com.rexen.workflow.core.listener.FormListener"/>
        </reference-listener>
    </reference-list>
</blueprint>