<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
    <!--<bean id="dataSource" class="org.h2.jdbcx.JdbcDataSource">-->
    <bean id="dataSource" class="com.mysql.jdbc.jdbc2.optional.MysqlDataSource">
        <property name="URL" value="jdbc:mysql://localhost:3306/activiti"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <!--用于activiti JavaDelegate-->
    <reference-list id="blueprintListener" availability="optional" interface="org.activiti.engine.delegate.JavaDelegate"
                    activation="eager">
        <reference-listener ref="blueprintELResolver" bind-method="bindService" unbind-method="unbindService"/>
    </reference-list>

    <bean id="blueprintELResolver" class="org.activiti.osgi.blueprint.BlueprintELResolver"/>

    <bean id="configurationFactory" class="cn.com.rexen.workflow.engine.ConfigurationFactory">
        <property name="dataSource" ref="dataSource"/>
        <property name="databaseSchemaUpdate" value="true"/>
        <property name="history" value="full"/>
        <property name="activityFontName" value="宋体"/>
        <property name="labelFontName" value="宋体"/>
        <property name="dbIdentityUsed" value="false"/>
    </bean>

    <bean id="configuration" factory-ref="configurationFactory" factory-method="getConfiguration"/>

    <bean id="processEngineFactory" class="org.activiti.osgi.blueprint.ProcessEngineFactoryWithELResolver"
          init-method="init" destroy-method="destroy">
        <property name="processEngineConfiguration" ref="configuration"/>
        <property name="bundle" ref="blueprintBundle"/>
        <property name="blueprintELResolver" ref="blueprintELResolver"/>
    </bean>

    <service id="taskListener" interface="org.activiti.engine.delegate.JavaDelegate" ref="myTaskAssigner">
        <service-properties>
            <entry key="osgi.service.blueprint.compname">
                <value type="java.lang.String">myTaskAssigner</value>
            </entry>
        </service-properties>
    </service>

    <bean id="myTaskAssigner" class="cn.com.rexen.workflow.engine.MyTaskAssigner"/>

    <!--<service id="processListener" interface="org.activiti.engine.delegate.JavaDelegate" ref="myProcessAssigner">
        <service-properties>
            <entry key="osgi.service.blueprint.compname">
                <value type="java.lang.String">processListener</value>
            </entry>
        </service-properties>
    </service>-->
    <!--<bean id="myProcessAssigner" class="cn.com.rexen.workflow.engine.ProcessAssigner"/>-->

    <bean id="processEngine" factory-ref="processEngineFactory" factory-method="getObject"/>
    <!--流程引擎服务-->
    <service interface="org.activiti.engine.ProcessEngine">
        <bean factory-ref="processEngineFactory" factory-method="getObject"/>
    </service>
    <!--Repository服务-->
    <service interface="org.activiti.engine.RepositoryService">
        <bean factory-ref="processEngine" factory-method="getRepositoryService"/>
    </service>
    <!--Runtime服务-->
    <service interface="org.activiti.engine.RuntimeService">
        <bean factory-ref="processEngine" factory-method="getRuntimeService"/>
    </service>
    <!--Form服务-->
    <service interface="org.activiti.engine.FormService">
        <bean factory-ref="processEngine" factory-method="getFormService"/>
    </service>
    <!--History服务-->
    <service interface="org.activiti.engine.HistoryService">
        <bean factory-ref="processEngine" factory-method="getHistoryService"/>
    </service>
    <!--Identity服务-->
    <service interface="org.activiti.engine.IdentityService">
        <bean factory-ref="processEngine" factory-method="getIdentityService"/>
    </service>
    <!--Task服务-->
    <service interface="org.activiti.engine.TaskService">
        <bean factory-ref="processEngine" factory-method="getTaskService"/>
    </service>

</blueprint>