<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net  http://dozer.sourceforge.net/schema/beanmapping.xsd">

    <mapping>
        <class-a>cn.com.rexen.example.pax.cdi.model.SourceUser</class-a>
        <class-b>cn.com.rexen.example.pax.cdi.model.TargetUser</class-b>
        <field>
            <a>name</a>
            <b>text</b>
        </field>

    </mapping>
</mappings>

